/* vars */
:root {
	--color-black: #1c1c1c;
	--color-gray: #323232;
	--color-yeloow: #fcfe67;
	--color-orange: #f38c52;
	--color-blue: #1347ff;
	--ease: cubic-bezier(0.3, -0.49, 0.1, 1.71);
}
.step1CreateBg {
	width: 100%;
	padding: 0 18px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
