/* vars */
:root {
	--color-black: #1c1c1c;
	--color-gray: #323232;
	--color-yeloow: #fcfe67;
	--color-orange: #f38c52;
	--color-blue: #1347ff;
	--ease: cubic-bezier(0.3, -0.49, 0.1, 1.71);
}

/* navigation */
.navBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: 1s ease;
}
.navBlockActive {
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: absolute;
}

/* item navigation */
.navBlock .navItem {
	width: 50%;
	cursor: default;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	font-weight: 800;
	position: relative;
	z-index: 4;
	opacity: 0;
	transform: translateY(-100%) scale(0);
	color: var(--color-black);
	animation: itemState 0.3s ease forwards;
	transition: 1s 0s ease;
}
.Link {
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
	display: flex;
	cursor: default;
	justify-content: center;
	align-items: center;
}
.navBlockActive .navItem {
	width: 50%;
	cursor: default;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.15em;
	font-weight: 800;
	position: relative;
	z-index: 4;
	opacity: 1;
	animation: itemState2 0.3s 0s ease forwards;
	transform: translateY(0%) scale(1);
	color: var(--color-black);
	transition: 1s 0s ease;
}
/* keyframes */
@keyframes itemState {
	0% {
		opacity: 0;
		transform: translateY(100%) scale(0);
	}
	100% {
		opacity: 1;
		transform: translateY(0%) scale(1);
	}
}
@keyframes itemState2 {
	100% {
		opacity: 0;
		transform: translateY(100%) scale(0);
	}
	0% {
		opacity: 1;
		transform: translateY(0%) scale(1);
	}
}
/* block active item */
.navBlock .activeBlock {
	position: absolute;
	height: calc(100% - 20%);
	border-radius: 20px;
	background: #fff;
	z-index: 3;
	width: calc(50% - 5%);
	transition: 0.6s ease;
	opacity: 0;
	transform: scale(0);
	animation: blockStart 0.4s ease 0.5s forwards;
	will-change: auto;
}
.navBlockActive .activeBlock {
	position: absolute;
	height: calc(100% - 20%);
	border-radius: 20px;
	background: #fff;
	z-index: 3;
	width: calc(50% - 5%);
	transition: 0.6s ease;
	opacity: 1;
	transform: scale(1);
	animation: blockStart2 0.4s ease 0.2s forwards;
	will-change: auto;
}
/* keyframes */
@keyframes blockStart2 {
	100% {
		opacity: 0;
		transform: scale(0);
	}
	0% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes blockStart {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.cartFooter {
	border-radius: 24px;
	height: 9vh;
	aspect-ratio: 4.5/1;
	background: rgba(50, 50, 50, 0.5);
	backdrop-filter: blur(10px);
	position: fixed;
	transition: 0.8s 0s ease;
	will-change: auto;
	max-height: 80px;
	min-height: 60px;
	max-width: 420px;
	bottom: -200px;
	z-index: 8;
	animation: navStart 0.6s ease forwards;
}
/* keyframes */
@keyframes navStart {
	0% {
		opacity: 0;
		bottom: -200px;
	}
	100% {
		opacity: 1;
		bottom: 12px;
	}
}
.cartFooterActive2 {
	border-radius: 50px;
	transition: 0.8s 0.4s ease;
	padding: 6px;
}
.cartFooterActive {
	border-radius: 50px;
	transition: 0.8s 0.4s ease;
	aspect-ratio: 1;
}
/* media request mobile */
@media (max-width: 580px) {
	.navItem {
		font-size: 1.1em;
	}
	.cartFooter {
		max-width: 360px;
		aspect-ratio: 4/1;
		height: 8vh;
	}
	.cartFooterActive {
		border-radius: 50px;
		aspect-ratio: 1;
	}
	.contBlockBack {
		height: 100%;
		width: 80%;
		max-width: 340px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
}

.cartFooterBlock {
	width: 100%;
	height: 100%;
}

.buttonCart {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	position: relative;
	opacity: 0;
}
@keyframes buttonCart {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.buttonCartActive {
	animation: buttonCart 0.6s 0.7s forwards ease;
}
.arrow {
	width: 35%;
	position: absolute;
	pointer-events: none;
	transition: 0.4s 0s ease;
	opacity: 1;
	transform: scale(1) translateY(0%);
}
.arrowActive {
	opacity: 0;
	transform: scale(0) translateY(100%);
}
.done {
	width: 45%;
	opacity: 0;
	pointer-events: none;
	transform: scale(0) translateY(100%);
}
.doneActive {
	transition: 0.4s 0.6s ease;
	opacity: 1;
	transform: scale(1) translateY(0%);
}
