/* main styles */
:root {
	font-family: "Montserrat", sans-serif;
	line-height: 1;
	font-weight: 400;
	color-scheme: light dark;
	color: #fff;
	background-color: #1c1c1c;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
/* all style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* body style */
body {
	min-width: 320px;
	height: 100vh;
	overflow-x: hidden;
}
/* scroll */
::-webkit-scrollbar {
	width: 0;
}

ul,
li {
	list-style: none;
}
